language: python

matrix:
    fast_finish: true
    include:
        - os: linux
          dist: trusty
          sudo: required
          python: 3.5
        - os: linux
          dist: trusty
          sudo: required
          python: 3.6

install:
    - pip3 install --upgrade pip setuptools wheel
    - pip3 install coveralls codecov pyflakes
    - pip3 install --only-binary=numpy,scipy scipy
    - pip3 install -r requirements.txt
    - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
    - chmod +x ./cc-test-reporter
    - pip3 install git+https://github.com/dvolgyes/FSITM

before_script:
  - ./cc-test-reporter before-build

script:
  - make test

after_success:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
  - coverall
  - codecov
